/* Reset some default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Set background color and font family */
body {
    background-color: #ad2121;
    font-family: Arial, sans-serif;
}

/* Container styling */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ad2121;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Header styling */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  #ad2121;
    border-radius: 3px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Flash messages styling */
.flash-messages {
    list-style: none;
    padding: 0;
}

.flash-message {
    margin: 10px 0;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

/* Shortened URL styling */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
